parameters:
    log:
        channel: 'DI_Example'
        path: 'logs\log.txt'
    ttl: 3600


services:
    application: DI_Example\Application
    logger: Monolog\Logger(%log.channel%)
    logger_stream: Monolog\Handler\StreamHandler(%log.path%, @logger::DEBUG)
    -
        factory: DI_Example\AuthService
        setup:
            - setTokenTtl(%ttl%)

    -
        factory: DI_Example\PhotoService
        setup:
            - setClient(@DI_Example\Sqlite3Client)


decorator:
    # внедрить во все объекты типа BaseService
    # логгер и соединение с бд
    DI_Example\BaseService:
        setup:
            - setLogger(@logger)
            - setDB(@DI_Example\Sqlite3Connection)

# папка, из которой автогрузятся классы
search:
    default:
        in: "src"