parameters:
    log:
        channel: 'DI_Example'
        path: 'logs\log.txt'
    ttl: 3600

services:
    application: DI_Example\Application
    logger: Monolog\Logger(%log.channel%)
    logger_stream: Monolog\Handler\StreamHandler(%log.path%, @logger::DEBUG)
    - DI_Example\AuthService(%ttl%)
    - DI_Example\PhotoService(@DI_Example\Sqlite3Client)

decorator:
    # внедрить во все объекты типа BaseService
    # логгер и соединение с бд
    DI_Example\BaseService:
        setup:
            - setLogger(@logger)
            - setDB(@DI_Example\Sqlite3Connection)

# папка, из которой автогрузятся классы
search:
    default:
        in: "src"